.login-style {
    background-color: #0a1931;
}

.login-input {
    color: rgb(224, 225, 226);
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
    width: 70%;
 
    border: 2px solid #da0037;
}

.login-style h2 {
    text-align: center;
    margin: 15px 0;
    color: #da0037;
}

.submit-forms {

    border-radius: 20px;
}

.submit-forms:hover {
    background-color: #da0037;
}


.g-button:hover{

    transform: scale(1.05) rotate(360deg);
    transform-origin: center;
    transition: 1s;
    margin: 0;
    
}

