.header-style {
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.logout {
    font-size: large;
    font-weight: 600;
    cursor: pointer;
    color: rgb(190, 186, 186);
}

.logout:hover {
    color: rgb(236, 234, 234);
}

.word-color {
    color: tomato;
}

.username {
    margin-right: 10px;
    color: rgb(180, 179, 179);
}

.username:hover {
    color: rgb(194, 193, 193);
}

.headerimg {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 10px;
}