.headerColor {
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: #d8e3e7;
}

.headerColor h1 {
    padding: 10px 0;
}
.border-c{
    border-radius: 20px!important;
}
.dash-board {
    height: 565px;
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #da0037;
}

.dash-nav {
    background-color: #0a1931;
    padding: 10px 0;
}

.dashboad-style {
    width: 100%;
    color: #d8e3e7;
}

.dashboad-style:hover {
    color: #da0037;
}

.dash-btn {
    padding: 5px 0;
    width: 100%;
    color: #d8e3e7;
    background-color: #0a1931;
    border: 2px solid #da0037;
}

.dash-btn:hover {
    background-color: #da0037;
}