.banner-img {
    background-image: url(https://webneel.com/wallpaper/sites/default/files/images/06-2018/black-car-wallpaper-best.jpg);
    background-size: 100% 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-weight: 700;
}

.banner-img h1 {
    width: 70%;
}